<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link href="/mta/ASPECT/aspect.css" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css"></style>
    <title>Ska Job Statusss</title>
  </head>

  <body>
    <!--#include virtual="/incl/header.html"-->
    <h1>Ska Job Status: {{rundate}}</h1>

    <table border=1>
      <tr><th>Task</th> <th>Status</th> <th>Age</th><th>MaxAge</th> <th>Last Date</th> </tr>
      {% for row in jobwatches %}
      {% if row['span_cols_text'] %}
        <tr> <th colspan=5> {{row['type']}} </th> </tr>
      {% else %}
        <tr>
          <td><a href="{{row['log_html_name']}}">{{row['task']}}</a></td> 
          <td>{% if row['ok'] %}OK{% else %}<span style="color:red">NOT OK</span>{% endif %}</td>
          <td>{{row['age_str']}}</td><td>{{"%.1f"|format(row['maxage'])}}</td>
          <td>{{row['filedate']}}</td>
        </tr>
      {% endif %}
      {% endfor %}
    </table>
    <hr>
  <!--#include virtual="/mta/ASPECT/footer.html"--> 
  <!--footer end-->
  </body>
</html>
