<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <style type="text/css">
    .red { color: #ff0000; }
    </style>
    <title>{{task}}</title>
  </head>

  <body>
    <a href="index.html">Index</a>
    <h1>{{task}}: {{filedate}}</h1>
    <h2>{{filename}}</h2>

    {% if missing_requires %}
    <h2> Missing required outputs </h2>
    <ul> {% for missing_require in missing_requires %}<li>{{ missing_require}}</li>{% endfor %}</ul>
    {% endif %}

    {% if found_errors %}
    <h2> Errors </h2>
    <ul> 
    {% for found_error in found_errors %}
      <li><a href="#error{{found_error[0]}}">Line {{found_error[0]}}</a>: {{ found_error[1]}}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if filelines %}
    <h2>File contents</h2>
    <span style="font-family:monospace;">
    {{filelines}}
    </span>
    {% endif %}
    <hr>
  </body>
</html>
