name: Python flake8 check

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 . --count --exclude=docs/conf.py --ignore=W503,W504,E402,F541 --max-line-length=100 --show-source --statistics
